{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">

<div class="main">
    <div>
        <img class="img" src="{% static 'images/unicorn.png' %}" height="200" width="400" alt="unicorns-img"/>
    </div>
    <div class="container">
        <h1 class="welcome-text">The New Standard Of Modern Luxe</h1>
        <p class="p-text">Shop online for fashions, tools, gifts & more</p>
        <a href="https://unicorns-store.com" class="btn">Shop Now!!</a>
    </div>
</div>

